<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="NSZombie Authors" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/highlight.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

	<link href="http://feeds.feedburner.com/nszombie" rel="alternate" title="NSZombie" type="application/atom+xml" />
</head>
<body>

<div class="site">

  <div class="title">
    <a href="/">NSZombie</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}
  
  <div class="footer">
      <div style="clear: both;"><h3>NSZombie Authors:</h3></div>
    <div class="contact">
        <h4>Josh Weinberg</h4>
        <ul>
            <li><a href="http://github.com/jweinberg/">github.com/jweinberg</a></li>
            <li><a href="http://twitter.com/jcweinberg/">twitter.com/jcweinberg</a></li>
            <li><a href="mailto:joshuacweinberg@gmail.com">joshuacweinberg@gmail.com</a></li>
        </ul>
    </div>
    <div class="contact">
        <h4>Jason Foreman</h4>
        <ul>
            <li><a href="http://github.com/threeve/">github.com/threeve</a></li>
            <li><a href="http://twitter.com/threeve/">twitter.com/threeve</a></li>
            <li><a href="mailto:jason@threeve.org">jason@threeve.org</a></li>
        </ul>
    </div>
  </div>
</div>

</body>
</html>
